notebook
ipywidgets
#jupytext # convert between ipynb and py or md
numpy
matplotlib
pyqt5
scipy
pillow  # to be able to save jpgs from matplotlib
xarray
sphinx
recommonmark
sphinxcontrib-bibtex
nbsphinx
nbsphinx-link
pytest
fluiddyn
flake8  # python linters
flake8-docstrings
flake8-rst-docstrings
flake8-import-order
torch
# LSP stuff
python-lsp-server
mypy
black
autoimport
isort
